In [1]:
import pandas as pd
import numpy as np

In [15]:
column = ["S1","C1","S2","C2","S3","C3","S4","C4","S5","C5","Y"]
df_poker_hand_train = pd.read_csv('poker-hand-training-true.data.txt',names=column)
df_poker_hand_train.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  Y
0   1  10   1  11   1  13   1  12   1   1  9
1   2  11   2  13   2  10   2  12   2   1  9
2   3  12   3  11   3  13   3  10   3   1  9
3   4  10   4  11   4   1   4  13   4  12  9
4   4   1   4  13   4  12   4  11   4  10  9

In [16]:
column = ["S1","C1","S2","C2","S3","C3","S4","C4","S5","C5","Y"]
df_poker_hand_test = pd.read_csv('poker-hand-testing.data.txt',names=column)
df_poker_hand_test.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  Y
0   1   1   1  13   2   4   2   3   1  12  0
1   3  12   3   2   3  11   4   5   2   5  1
2   1   9   4   6   1   4   3   2   3   9  1
3   1   4   3  13   2  13   2   1   3   6  1
4   3  10   2   7   1   2   2  11   4   9  0

In [17]:
df_global = pd.concat([df_poker_hand_train,df_poker_hand_test])
df_global = df_global.reset_index(drop=True)
df_global.shape

(1025010, 11)

In [5]:
#df_global.describe()

,S1,C1,S2,C2,S3,C3,S4,C4,S5,C5,Y
count,1.025010e+06,1.025010e+06,1.025010e+06,1.025010e+06,1.025010e+06,1.025010e+06,1.025010e+06,1.025010e+06,1.025010e+06,1.025010e+06,1.025010e+06
mean,2.500695e+00,6.997861e+00,2.499841e+00,7.006295e+00,2.501100e+00,6.999246e+00,2.500284e+00,7.000838e+00,2.499399e+00,6.988828e+00,6.170057e-01
std,1.117737e+00,3.743529e+00,1.118646e+00,3.744054e+00,1.118345e+00,3.741964e+00,1.117215e+00,3.741423e+00,1.118942e+00,3.739936e+00,7.737463e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,2.000000e+00,4.000000e+00,1.000000e+00,4.000000e+00,1.000000e+00,4.000000e+00,2.000000e+00,4.000000e+00,1.000000e+00,4.000000e+00,0.000000e+00
50%,3.000000e+00,7.000000e+00,2.000000e+00,7.000000e+00,3.000000e+00,7.000000e+00,3.000000e+00,7.000000e+00,2.000000e+00,7.000000e+00,0.000000e+00
75%,3.000000e+00,1.000000e+01,4.000000e+00,1.000000e+01,4.000000e+00,1.000000e+01,3.000000e+00,1.000000e+01,4.000000e+00,1.000000e+01,1.000000e+00
max,4.000000e+00,1.300000e+01,4.000000e+00,1.300000e+01,4.000000e+00,1.300000e+01,4.000000e+00,1.300000e+01,4.000000e+00,1.300000e+01,9.000000e+00

In [21]:
df_global.Y.value_counts()

0    513702
1    433097
2     48828
3     21634
4      3978
5      2050
6      1460
7       236
8        17
9         8
Name: Y, dtype: int64

In [7]:
df_global_X = df_global[df_global.columns[:-1]]
df_global_y = df_global[df_global.columns[-1]]
print(df_global_X.shape)
print(df_global_y.shape)

(1025010, 10)
(1025010,)

In [8]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)
dum = enc.fit_transform(df_global_X)

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [9]:
x_train = pd.DataFrame(dum)
print(x_train.shape)

(1025010, 85)

In [10]:
#del df_global,df_global_X,df_poker_hand_test,df_poker_hand_train

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_train, df_global_y, test_size=0.2, stratify=df_global_y ,random_state=0)

In [25]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=50,random_state=0, n_jobs=-1,verbose=1)
clf.fit(X_train,y_train)
pred = clf.predict(X_test)
print(clf.score(X_test,y_test))

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  2.0min finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    6.1s
[Parallel(n_jobs=4)]: Done  50 out of  50 | elapsed:    7.0s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    3.1s

0.9156203354113618

[Parallel(n_jobs=4)]: Done  50 out of  50 | elapsed:    3.4s finished